<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>

    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/js/socket.io-1.2.0.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.1.js"></script> -->
    <script>
      var socket = io();
      socket.on('')
      socket.on('progress', function(msg){
        console.log(msg);
        /* $('#messages').append($('<li>').text(msg)); */
      });
      socket.on('emit_message_dict', function(msg){
        console.log(msg);
        /* $('#messages').append($('<li>').text(msg)); */
      });
    </script>
  </body>
</html>